*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f8f8f8;
    color: #29292e;
}

body, input, button, textarea{
    font: 400 16px 'Roboto', sans-serif;
}

.dark{
    background: #29292e;
}

// body.dark #page-room main .room-title h1,
// body.dark .form-footer .user-info span.theme{
//     color: #f8f8f8;
// }